<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="home.component.css" />
  </head>
  <body class="container">
    <h1>Bem-vindo ao PetCafe</h1>

    <div class="cont_1">
      <div class="container_1">
        <ul>
          <li>
            <a href="http://localhost:4200/clientes">Cadastrar Cliente</a>
          </li>
          <li><a href="http://localhost:4200/lista">Listar Clientes</a></li>
        </ul>
      </div>

      <div class="container_2">
        <ul>
          <li>
            <a href="http://localhost:4200/produto">Cadastrar Produtos</a>
          </li>
          <li>
            <a href="http://localhost:4200/listaprodu">Listar Produtos</a>
          </li>
        </ul>
      </div>
      <div class="container_3">
        <ul>
          <li>
            <a href="http://localhost:4200/fornecedor">Cadastrar Fornecedor</a>
          </li>
          <li>
            <a href="http://localhost:4200/listaforn">Listar Fornecedores</a>
          </li>
        </ul>
      </div>
      <div class="container_4">
        <ul>
          <li>
            <a href="http://localhost:4200/animal">Cadastrar Animal</a>
          </li>
          <li>
            <a href="http://localhost:4200/listaAnimais">Listar Animais</a>
          </li>
        </ul>
      </div>
      <div class="container_5">
        <ul>
          <li>
            <a href="http://localhost:4200/adocoes">Regitrar Adoção</a>
          </li>
          <li>
            <a href="http://localhost:4200/listaAdocoes">Lista das Adoções</a>
          </li>
        </ul>
      </div>
      <div class="container_6">
        <ul>
          <li>
            <a href="http://localhost:4200/venda">Regitrar Venda</a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
