<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="lista-produtos.component.css">
</head>
<body class="container">
    
  <h1><strong>Lista de Produtos</strong></h1>
  
<nav><button onclick="history.back()">Voltar</button></nav>

<div class="div_content">

    <div class="tab-content">
      <table>
        <tr>
        <th class="th">Codigo</th>
        <th class="th1">CNPJ do Fornecedor</th>
        <th class="th2">Nome do Produto</th>
        <th class="th3">Descrição do Produto</th>
        <th class="th4">Valor do Produto</th>
        </tr>
            <tr class="tr-cit" *ngFor="let produto of produtos">
                <td>{{ produto.codigo }}</td> 
                <td>{{ produto.fornecedorCNPJ }}</td> 
                <td>{{ produto.nome }}</td> 
                <td>{{ produto.descricao }}</td> 
                <td>{{ produto.valor }}</td> 
            </tr>
        </table>
    </div>
</div>
</body>
</html>