<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="produtos.component.css" />
  </head>
  <body class="container">
    <div class="container-xl mx-auto align-content-xl-center justify-content-center justify-content-md-around">
      <div class="row">
        <div class="col-6 border border-light rounded p-5 shadow mx-auto">
          <h1>{{ tituloFormulario }}</h1>
          <form
            [formGroup]="formulario_produto"
            *ngIf="formulario_produto"
            (ngSubmit)="enviarFormulario()"
          >
            <div class="form-group" style="margin-top: 30px">
              <label>Fornecedor:</label>
              <select
                class="form-control form-control-sm"
                formControlName="fornecedorCNPJ"
              >
                <option
                  *ngFor="let fornecedor of fornecedores"
                  [value]="fornecedor.cnpj"
                >
                  {{ fornecedor.nome }}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label>Nome:</label>
              <input
                type="text"
                class="form-control form-control-sm"
                formControlName="nome"
              />
            </div>
            <div class="form-group">
              <label>Descrição:</label>
              <input
                type="text"
                class="form-control form-control-sm"
                formControlName="descricao"
              />
            </div>
            <div class="form-group">
              <label>Valor:</label>
              <input
                type="text"
                class="form-control form-control-sm"
                formControlName="valor"
              />
            </div>

            <div class="div-buttons">
              <div>
                <button
                  id="btn-salvar"
                  type="submit"
                  class="btn btn-sm btn-outline-secondary"
                >
                  Salvar
                </button>
              </div>
              <div>
                <button
                  id="btn-voltar"
                  type="button"
                  class="btn btn-sm btn-light"
                  onclick="history.back()"
                >
                  Voltar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
