.container {
    color: white;
    background-color: #263545;
    text-align: center;
    margin-top: 75px;
  }
  h1 {
    font-weight: bold;
    font-size: 30px;
  }
  label {
    font-weight: bold;
  }
  #btn-salvar {
    font-weight: bold;
    background-color: dodgerblue;
    color: white;
    margin-right: 10px;
  }
  #btn-voltar {
    font-weight: bold;
    background-color: gray;
    color: white;
  }
  .div-buttons {
    display: flex;
    justify-content: flex-end;
    border-radius: 5px;
  }
  #btn-voltar:hover{
    background-color: #ffbf00;
  }
